body, html{
  width: 1200px;
  height: 900px;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-weight: bold;
}

.celda{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.salida{
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 500px;
  border-radius: 100%;
  cursor: pointer;
  background: #909090;
}

.salida.azulada{
  background: blue;
  opacity: .5;
  border-radius: 100%;
}

.salida.rojiza{
  background: red;
  opacity: .5;
  border-radius: 100%;
}

.salida.verdoza{
  background: green;
  opacity: .5;
  border-radius: 100%;
}

.boton{
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.ocultar{
  opacity: 60%;
}

.oculto{
  display: none !important;
}

.tablero{
  position: absolute;
  z-index: 10;
  background: gray;
  padding: 20px;
  top: 360px;
  left: 416px;
}

.tablero input[type="text"]{
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.tablero .button{
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  background: black;
  color: white;
  cursor: pointer;
}

.fin{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.verde{
  width: 100%;
  height: 100%;
  background: green;
  position: absolute;
  opacity: .5;
  color: white;
  font-size: 32px;
}

.verde .numeros{
  position: absolute;
  top: 784px;
  left: 464px;
  transform: skewX(-26deg);
}

.accion{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 440px;
  border-radius: 100%;
  cursor: pointer;
  background: #909090;
}

.accion.verde, .accion.verde img{
  background: green;
  opacity: .5;
  border-radius: 100%;
}

.boton{
  width: 100%;
  height: 100%;
}

img{
  width: 100%;
  height: 100%;
}

.pizarra{
  position: absolute;
  width: 200px;
  left: 16px;
  transform: perspective(500px) rotateX(18deg) rotateY(45deg);
  top: 77px;
}

.formula{
  position: absolute;
  top: 45px;
  left: 37px;
  color: white;
}